@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Light.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: rgb(42, 42, 42);
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(133, 133, 133);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clickable {
  cursor: pointer;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

body {
  .p-dropdown-panel {
    background-color: rgb(68, 68, 68);
    border: 1px solid rgb(114, 114, 114);
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background-color: rgb(114, 114, 114);
  }

}

$drawer1-color: rgb(129, 0, 0);
$drawer2-color: rgb(129, 84, 0);
$drawer3-color: rgb(128, 128, 0);
$drawer4-color: rgb(40, 105, 5);
$drawer5-color: rgb(0, 54, 0);