.group-details-container {
    background-color: rgb(112, 112, 112);
    color: whitesmoke;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .group-details-name {
        margin: 10px;
        font-size: 40px;
    }

    .group-details-settings {

        width: 42px;
        height: 42px;
        background-color: rgb(112, 112, 112);
        margin-right: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            filter: brightness(90%);
            -webkit-filter: brightness(90%);
            -webkit-transition: all 0.1s ease;
            -moz-transition: all 0.1s ease;
            -o-transition: all 0.1s ease;
            -ms-transition: all 0.1s ease;
            transition: all 0.1s ease;
        }

        img {
            width: 32px;
            height: 32px;
            vertical-align: middle;
        }
    }
}