.dialog-form {
  width: 100%;
  position: relative;

  .dialog-form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 20px;

    .input-label {
      position: absolute;
      font-size: 0.75rem;
      top: -10px;
    }

    .checkbox-label {
      font-size: 0.75rem;
    }

    input[type="text"] {
      width: 100%;
      background-color: transparent;
      border: none;
      border-radius: 0px;
      color: #fff;
      border-bottom: 1px solid white;
      outline: none;
      font-size: x-large;
      padding-bottom: 5px;
      text-align: center;
    }

    input[type="checkbox"] {
      -ms-transform: scale(2);
      -moz-transform: scale(2);
      -webkit-transform: scale(2);
      -o-transform: scale(2);
      transform: scale(2);
      margin-top: 1rem;
      width: fit-content;
      align-self: center;
    }

    .dialog-input-icon {
      position: absolute;
      top: 20%
    }


  }
}
