table {
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid black;
}

.history-correct {
    border-left: 2px solid green;
    background-color: rgba(0, 128, 0, 0.5);
    display: flex;
    vertical-align: middle;
}

.history-accepted {
    border-left: 2px solid orange;
    background-color: rgba(255, 166, 0, 0.5);
    display: flex;
    vertical-align: middle;
}

.history-wrong {
    border-left: 2px solid red;
    background-color: rgba(255, 0, 0, 0.5);
    display: flex;
    vertical-align: middle;
}

.history-result-icon {
    width: 24px;
    height: 24px;
    margin: 5px;
}