table {
    border-collapse: collapse;
    width: 100%;
}

tr:not(:last-child) {
    border-bottom: 1px solid black;
}

th {
    padding-bottom: 5px;
}

th.icon {
    width: 24px;
}

td:not(:first-child) {
    padding-left: 10px;
}

tr.clickable {
    &:hover {
        background-color: rgba(255, 255, 255, 0.027);
    }
}

.history-correct {
    border-left: 2px solid green;
    background-color: rgba(0, 128, 0, 0.5);
    display: flex;
    vertical-align: middle;
}

.history-accepted {
    border-left: 2px solid orange;
    background-color: rgba(255, 166, 0, 0.5);
    display: flex;
    vertical-align: middle;
}

.history-wrong {
    border-left: 2px solid red;
    background-color: rgba(255, 0, 0, 0.5);
    display: flex;
    vertical-align: middle;
}

.history-result-icon {
    width: 24px;
    height: 24px;
    margin: 5px;
}