.correct {
    color: green;
}

.wrong {
    color: red;
}

#answer {
    border: none;
    width: 100%;
    font-size: 30px;
    text-align: center;
    outline: none;
    padding: 10px;
}

.correct-answer {
    display: flex;
    flex-direction: column;

    .correct-answer-header {
        width: 100%;
    }

    .correct-answer-value {
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
}