.group-row-container {
    width: 100%;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.068);
    }

    .group-row-flags {
        display: flex;
        flex-direction: column;
    }

    .group-row-name {
        margin-left: 10px;
        font-size: 40px;
        text-align: center;
    }

    .group-row-cards {
        margin-left: auto;
        margin-right: 20px;
    }
}