.card-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: rgb(34, 34, 34);
    color: rgb(219, 219, 219);
    border-radius: 5px;

    &:hover {
        background-color: rgb(41, 41, 41);
    }

    .card-item-value {
        width: 100%;
        margin: 10px;
        display: flex;
        font-size: 30px;
        position: relative;

        b {
            width: 50%;
            text-align: center;
        }

    }

    .card-item-example {
        width: 100%;
        margin: 10px 20px;
        display: flex;
        align-items: center;

        .card-item-example-container {
            margin-left: 10px;

            .card-item-example-first {
                font-weight: 550;
            }
        }

    }
}

hr {
    color: black;
    width: 98%;

}