.correct-answer {
    display: flex;
    flex-direction: column;
    height: 25vh;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .correct-answer-header {
        width: 100%;
    }

    .correct-answer-value {
        width: 100%;
        text-align: center;
        font-size: 30px;

        .correct-answer-letter {
            display: inline;
        }
    }

    .example-answer {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
}

.additional {
    text-decoration: line-through;
}

.invisible {
    color: #0000 !important;
}