.group-detail-main-container {

    .group-details-card-list-container {
        padding-bottom: 3%;
    }

    .group-details-cards-info-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .group-details-info-card {
            margin-bottom: 10px;
        }
    }

    .group-details-paginator {
        margin-bottom: 10px;

    }
}

.info-card-green {
    background-color: green !important;
}

.info-card-blue {
    background-color: rgb(29, 29, 139) !important;
}

.info-card-gray {
    background-color: rgb(44, 44, 44) !important;
}

.info-card-drawer-1 {
    background-color: rgb(129, 0, 0) !important;
}

.info-card-drawer-2 {
    background-color: rgb(129, 84, 0) !important;
}

.info-card-drawer-3 {
    background-color: rgb(128, 128, 0) !important;
}

.info-card-drawer-4 {
    background-color: rgb(40, 105, 5) !important;
}

.info-card-drawer-5 {
    background-color: rgb(0, 54, 0) !important;
}