.expandable-container {
    width: 100%;

    .expandable-container-button {
        text-align: center;


    }

    img {
        width: 32px;
        cursor: pointer;
        margin: 5px 10px;

        &:hover {
            background-color: #ffffff22;
        }
    }
}

.invisible {
    display: none;
}