@import '../../LessonSetting.scss';

input[name="lessonType"] {
    display: none;
}

input[name="lessonType"]+label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;

    p {
        width: auto;
    }

    &:hover {
        background-color: $hover;
    }
}

input[name="lessonType"]:checked+label {
    background-color: $active;
    color: black;
}

.setting-icon {
    width: 128;
    height: 128px;
}

.lesson-type-container {
    display: flex;
    align-items: center;

    p {
        width: $option-name-width;
    }

    .lesson-type-items-container {
        position: relative;
        display: flex;
        justify-content: center;
    }
}