$bottom-border: red solid 3px;

.pagination-container {
    display: flex;

    .pagination-left {
        display: flex;
        width: 33.3%;
        align-content: center;

        input {
            background-color: #0000;
            border: none;
            color: #fff;
            border-bottom: 1px solid white;
            outline: none;
            margin: 10px;
        }

    }

    .pagination-middle {
        display: flex;
        justify-content: center;
        width: 33.3%;
        text-align: center;
    }

    .pagination-right {
        width: 33.3%;
    }
}


.button {
    min-width: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 10px;
    margin: 0 1px;
    color: rgb(197, 197, 197);


    &.disabled {
        cursor: default;
        border-bottom: none;
        color: rgb(117, 117, 117);

        &:hover {
            border-bottom: none;
        }
    }

    &.selected {
        cursor: default;
        border-bottom: $bottom-border;

        &:hover {
            border-bottom: $bottom-border;
        }
    }

    &:hover {
        border-bottom: $bottom-border;
    }
}